body {
  font-family: 'Roboto', sans-serif; /* optional font */
}

h1, h2 {
  text-align: center;
}

ul {
  max-width: 600px;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 10px 0;
}
